services:
  jekyll:
    image: ruby:3.2-slim
    platform: linux/arm64
    ports:
      - "4000:4000"
    volumes:
      - .:/srv/jekyll
    working_dir: /srv/jekyll
    environment:
      - JEKYLL_ENV=development
      - PAGES_REPO_NWO=shadowlink0122/Cm
    # 起動時に必要なツールをインストールし、Jekyllを実行
    command: >
      sh -c "apt-get update && apt-get install -y build-essential git &&
             bundle install &&
             bundle exec jekyll serve --host 0.0.0.0 --livereload --force-polling --watch"
